<%- include('navbar'); -%>

<style>
  @import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");

  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  body {
    position: relative;

    background: #191919;
  }
  .heading {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 100px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    position: relative;
    color: rgb(245, 243, 243);

    opacity: 0;
  }

  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  @-webkit-keyframes fadeInUpBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
      transform: translateY(2000px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes fadeInUpBig {
    0% {
      opacity: 0;
      -webkit-transform: translateY(2000px);
      -ms-transform: translateY(2000px);
      transform: translateY(2000px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .fadeInUpBig {
    -webkit-animation-name: fadeInUpBig;
    animation-name: fadeInUpBig;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  .animated.flip {
    -webkit-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-animation-name: flip;
    animation-name: flip;
  }

  @-webkit-keyframes flipInX {
    0% {
      -webkit-transform: perspective(400px) rotateX(90deg);
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
    40% {
      -webkit-transform: perspective(400px) rotateX(-10deg);
      transform: perspective(400px) rotateX(-10deg);
    }
    70% {
      -webkit-transform: perspective(400px) rotateX(10deg);
      transform: perspective(400px) rotateX(10deg);
    }
    100% {
      -webkit-transform: perspective(400px) rotateX(0deg);
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
  }
  @keyframes flipInX {
    0% {
      -webkit-transform: perspective(400px) rotateX(90deg);
      -ms-transform: perspective(400px) rotateX(90deg);
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
    40% {
      -webkit-transform: perspective(400px) rotateX(-10deg);
      -ms-transform: perspective(400px) rotateX(-10deg);
      transform: perspective(400px) rotateX(-10deg);
    }
    70% {
      -webkit-transform: perspective(400px) rotateX(10deg);
      -ms-transform: perspective(400px) rotateX(10deg);
      transform: perspective(400px) rotateX(10deg);
    }
    100% {
      -webkit-transform: perspective(400px) rotateX(0deg);
      -ms-transform: perspective(400px) rotateX(0deg);
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
  }
  .flipInX {
    -webkit-backface-visibility: visible !important;
    -ms-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
  }

  .heading::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  @-webkit-keyframes lightSpeedIn {
    0% {
      -webkit-transform: translateX(100%) skewX(-30deg);
      transform: translateX(100%) skewX(-30deg);
      opacity: 0;
    }
    60% {
      -webkit-transform: translateX(-20%) skewX(30deg);
      transform: translateX(-20%) skewX(30deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: translateX(0%) skewX(-15deg);
      transform: translateX(0%) skewX(-15deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0%) skewX(0deg);
      transform: translateX(0%) skewX(0deg);
      opacity: 1;
    }
  }
  @keyframes lightSpeedIn {
    0% {
      -webkit-transform: translateX(100%) skewX(-30deg);
      -ms-transform: translateX(100%) skewX(-30deg);
      transform: translateX(100%) skewX(-30deg);
      opacity: 0;
    }
    60% {
      -webkit-transform: translateX(-20%) skewX(30deg);
      -ms-transform: translateX(-20%) skewX(30deg);
      transform: translateX(-20%) skewX(30deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: translateX(0%) skewX(-15deg);
      -ms-transform: translateX(0%) skewX(-15deg);
      transform: translateX(0%) skewX(-15deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0%) skewX(0deg);
      -ms-transform: translateX(0%) skewX(0deg);
      transform: translateX(0%) skewX(0deg);
      opacity: 1;
    }
  }
  .lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  .heading::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }

  .offer-container {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    margin-bottom: 50px;
  }

  .offer-row {
    width: 90%;
    margin: auto;
  }

  .offer-row:hover {
    width: 100%;
    z-index: 50;
    box-shadow: 7px 7px 20px 7px gray;
  }

  .offer-container {

    background: #2b2a2a;
    font-family: 'Poppins',sans-serif;

  }
  .offer-block-heading {
    font-family: "Arial Black", sans-serif;
    font-size: 2em;
    text-align: center;
    letter-spacing: -1px;
    background-color: #da2d37;
    color: white;
  }

  .heading-col {
    padding: 0;
    border: 1px solid black;
  }

  .list-offer {
    width: 70%;
    margin: auto;
    color: #ddd;
  }

  .expand {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .expand {
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    display: block;
    margin: auto;
    font-weight: bold;
    color: black;
    background: #da2d37;
    border: 1px solid black;
    box-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black,
      1px -1px 0 black;
    transition: 500ms ease-in-out;
  }

  .expand:hover {
    box-shadow: 10px 5px 0 black, -10px -5px 0 black;
  }

  .expand:focus {
    outline: none;
  }

  .marged {
    display: flex;
  }

  /* .block {
    width: 31.33%;
    margin: 1%;
    float: left;
  } */

  .image {
    width: 100%;
    position: relative;
    display: block;
    opacity: 0.8;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .parts {
    text-align: center;
    color: #ccc;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    width: 50%;
  }

  .interests {
    border: none;
  }

  .interests:hover {
    cursor: pointer;
  }
  .moretext {
    display: none;
  }
  .moretext.show-more {
    display: inline;
  }
  .expand.show-more {
    background: #f8898e;
  }
  .offer-container.show-more {
    margin-bottom: 0px;
  }

</style>
<br />
<!--picture-->

<img src="images/main.jpg" alt="about" class="center" />

<!--picture ends-->
<!--what we offer starts-->
<h2 class="heading revealOnScroll" data-animation="fadeInUp">WHAT WE OFFER</h2>
<div class="offer" style="margin-bottom: 140px">
  <br />
  <!-- CAROUSEL STARTS -->
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container offer-container">
          <div class="row offer-row">
            <div class="col-sm">

              <img src="images/offer-startup2.png" style="width: inherit" />

            </div>
            <div class="col-sm heading-col">
              <h1 class="offer-block-heading">STARTUPS</h1>
              <ul class="list-offer">
                <li>
                  Setting up vision and developing executable business plan.
                </li>
                <li>
                  Technical support, software/application and website
                  development.
                </li>
                <li>
                  Take the idea from ideation to execution proper guidance and
                  expertise.
                </li>
              </ul>
              <br />
              <button class="expand">Know More</button>
            </div>
          </div>
        </div>

        <span class="moretext">
          <div class="container offer-container">
            <div class="row offer-row">
              <div class="col-sm heading-col">
                <h1 class="offer-block-heading">STARTUPS</h1>
                <ul class="list-offer">
                  <li>
                    Setting up vision and developing executable business plan.
                  </li>
                  <li>
                    Technical support, software/application and website
                    development.
                  </li>
                  <li>
                    Take the idea from ideation to execution proper guidance and
                    expertise.
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="carousel-item">
        <div class="container offer-container">
          <div class="row offer-row">
            <div class="col-sm">

              <img src="images/offer-manufacture2.png" style="width: inherit" />

            </div>
            <div class="col-sm heading-col">
              <h1 class="offer-block-heading">MANUFACTURING</h1>
              <ul class="list-offer">
                <li>
                  Customized software for daily operations activity like
                  employee and finance management.
                </li>
                <li>
                  Making the process flow more efficient and automate the manual
                  processes with technology and consultancy expertise with
                  customized personal/performance management software.
                </li>
                <li>
                  Developing/Marketing the brand by good supply connectivity and
                  maintaining a better customer relation.
                </li>
              </ul>
              <br />
              <button class="expand">Know More</button>
            </div>
          </div>
        </div>

        <span class="moretext">
          <div class="container offer-container">
            <div class="row offer-row">
              <div class="col-sm heading-col">
                <h1 class="offer-block-heading">MANUFACTURING</h1>
                <ul class="list-offer">
                  <li>
                    Setting up vision and developing executable business plan.
                  </li>
                  <li>
                    Technical support, software/application and website
                    development.
                  </li>
                  <li>
                    Take the idea from ideation to execution proper guidance and
                    expertise.
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="carousel-item">
        <div class="container offer-container">
          <div class="row offer-row">
            <div class="col-sm">

              <img src="images/offer-restaurant2.png" style="width: inherit; height: 300px" />

            </div>
            <div class="col-sm heading-col">
              <h1 class="offer-block-heading">RESTAURANTS</h1>
              <ul class="list-offer">
                <!-- <li>Customized software for customer/table management.</li> -->
                <li>
                  Making their operation more efficient by performance/material
                  management software and decrease the input cost and hence
                  increasing the revenue.
                </li>
                <li>
                  Developing/Marketing the restaurant brand by maintaining
                  quality service and better customer experience.
                </li>
              </ul>
              <br />
              <button class="expand">Know More</button>
            </div>
          </div>
        </div>

        <span class="moretext">
          <div class="container offer-container">
            <div class="row offer-row">
              <div class="col-sm heading-col">
                <h1 class="offer-block-heading">STARTUPS</h1>
                <ul class="list-offer">
                  <li>
                    Setting up vision and developing executable business plan.
                  </li>
                  <li>
                    Technical support, software/application and website
                    development.
                  </li>
                  <li>
                    Take the idea from ideation to execution proper guidance and
                    expertise.
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="carousel-item">
        <div class="container offer-container">
          <div class="row offer-row">
            <div class="col-sm">

              <img src="images/offer-school2.png" style="width: inherit" />

            </div>
            <div class="col-sm heading-col">
              <h1 class="offer-block-heading">SCHOOLS</h1>
              <ul class="list-offer">
                <li>
                  Customized software for managing all departments teachers,
                  finance and students.
                </li>
                <li>
                  Whole school will be operated through the software only, from
                  reaching to teachers/students/parents to online classes,
                  teaching material, attendance and online database.
                </li>
                <li>
                  Increase the efficiency by decreasing the manual efforts of
                  management and teacher with the software and invest the time
                  student's education and improve the result of school.
                </li>
              </ul>
              <br />
              <button class="expand">Know More</button>
            </div>
          </div>
        </div>

        <span class="moretext">
          <div class="container offer-container">
            <div class="row offer-row">
              <div class="col-sm heading-col">
                <h1 class="offer-block-heading">STARTUPS</h1>
                <ul class="list-offer">
                  <li>
                    Setting up vision and developing executable business plan.
                  </li>
                  <li>
                    Technical support, software/application and website
                    development.
                  </li>
                  <li>
                    Take the idea from ideation to execution proper guidance and
                    expertise.
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="carousel-item">
        <div class="container offer-container">
          <div class="row offer-row">
            <div class="col-sm">

              <img src="images/offer-finance2.png" style="width: 400px" />

            </div>
            <div class="col-sm heading-col">
              <h1 class="offer-block-heading">FINANCE</h1>
              <ul class="list-offer">
                <li>
                  Consultancy for company registration and GST registration.
                </li>
                <li>
                  Services like ITR filing and GST filing for individual or
                  businesses.
                </li>
                <li>Prepare taxes and audit for businesses.</li>
              </ul>
              <br />
              <button class="expand">Know More</button>
            </div>
          </div>
        </div>

        <span class="moretext">
          <div class="container offer-container">
            <div class="row offer-row">
              <div class="col-sm heading-col">
                <h1 class="offer-block-heading">STARTUPS</h1>
                <ul class="list-offer">
                  <li>
                    Setting up vision and developing executable business plan.
                  </li>
                  <li>
                    Technical support, software/application and website
                    development.
                  </li>
                  <li>
                    Take the idea from ideation to execution proper guidance and
                    expertise.
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="carousel-item">
        <div class="container offer-container">
          <div class="row offer-row">
            <div class="col-sm">

              <img src="images/offer-industry2.png" style="width: 400px" />

            </div>
            <div class="col-sm heading-col">
              <h1 class="offer-block-heading">SMALL SCALE BUSINESS</h1>
              <ul class="list-offer">
                <li>
                  Support businesses like retail shops, whole sale shops,
                  departmental stores or clothing etc.
                </li>
                <li>
                  Operate all branches single handedly via business website and
                  application/software for reaching customers, maintaining the
                  directory of employee and having a complete real time overview
                  of your business.
                </li>
                <li>
                  Connect with global market/customers via online platforms with
                  support from our technical and marketing team.
                </li>
              </ul>
              <br />
              <button class="expand">Know More</button>
            </div>
          </div>
        </div>

        <span class="moretext">
          <div class="container offer-container">
            <div class="row offer-row">
              <div class="col-sm heading-col">
                <h1 class="offer-block-heading">STARTUPS</h1>
                <ul class="list-offer">
                  <li>
                    Setting up vision and developing executable business plan.
                  </li>
                  <li>
                    Technical support, software/application and website
                    development.
                  </li>
                  <li>
                    Take the idea from ideation to execution proper guidance and
                    expertise.
                  </li>
                </ul>
                <br />
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- CAROUSEL ENDS  -->

  <br />
</div>
<!-- WHAT WE OFFER SECTION ENDS -->

<!-- WHO YOU ARE SECTION STARTS  -->

<h2 class="heading revealOnScroll" data-animation="fadeInUp">
  CHOOSE YOUR INTEREST
</h2>

<div class="marged" style="display: contents">
  <div class="container" style="display: contents">
    <div class="row" style="margin: auto">
      <div
        class="block revealOnScroll col-sm"
        data-animation="flipInX"
        data-timeout="400"
      >
        <div class="image">
          <a class="interests" href="/startups">
            <img src="images/offer-startup.jpg" style="width: 400px" />
          </a>
        </div>
        <br />
        <h4 class="parts">STARTUPS</h4>
      </div>
      <div class="block revealOnScroll col-sm" data-animation="flipInX">
        <div class="image">
          <a class="interests" href="/school">
            <img src="images/offer-school.jpg" style="width: 400px" />
          </a>
        </div>
        <br />
        <h4 class="parts">SCHOOLS</h4>
      </div>
      <div
        class="block revealOnScroll col-sm"
        data-animation="flipInX"
        data-timeout="800"
      >
        <div class="image">
          <a class="interests" href="/manufacture">
            <img src="images/offer-manufacture.jpg" style="width: 400px" />
          </a>
        </div>
        <br />
        <h4 class="parts">MANUFACTURING</h4>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container" style="display: contents">
    <div class="row" style="margin: auto">
      <div
        class="block revealOnScroll col-sm"
        data-animation="flipInX"
        data-timeout="400"
      >
        <div class="image">
          <a class="interests" href="/finance">
            <img src="images/offer-finance.jpg"  style="width: 400px" />
          </a>
        </div>
        <br />
        <h4 class="parts">FINANCE</h4>
      </div>
      <div class="block revealOnScroll col-sm" data-animation="flipInX">
        <div class="image">
          <a class="interests" href="/restaurant">
            <img src="images/offer-restaurant.jpg"  style="width: 400px" />
          </a>
        </div>
        <br />
        <h4 class="parts">RESTAURANTS</h4>
      </div>
      <div
        class="block revealOnScroll col-sm"
        data-animation="flipInX"
        data-timeout="800"
      >
        <div class="image">
          <a class="interests" href="/business">
            <img src="images/offer-industry.jpg" style="width: 400px" />
          </a>
        </div>
        <br />
        <h4 class="parts">SMALL SCALE BUSINESS</h4>
      </div>
    </div>
  </div>
</div>

<!-- WHO YOU ARE SECTION ENDS  -->
<br />
<br />
<br />
<br />
<!-- WHY CHOOSE US SECTION -->
<h2 class="heading revealOnScroll" data-animation="fadeInUp">WHY CHOOSE US</h2>

<br />
<br />
<br />
<br /><br />
<br />
<br />
<br /><br />
<br />
<br />
<br />
<%- include('footer'); -%>

<script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.js"></script>
<script>
  $(function () {
    var $window = $(window),
      win_height_padded = $window.height() * 1.1,
      isTouch = Modernizr.touch;

    if (isTouch) {
      $(".revealOnScroll").addClass("animated");
    }

    $window.on("scroll", revealOnScroll);

    function revealOnScroll() {
      var scrolled = $window.scrollTop(),
        win_height_padded = $window.height() * 1.1;

      // Showed...
      $(".revealOnScroll:not(.animated)").each(function () {
        var $this = $(this),
          offsetTop = $this.offset().top;

        if (scrolled + win_height_padded > offsetTop) {
          if ($this.data("timeout")) {
            window.setTimeout(function () {
              $this.addClass("animated " + $this.data("animation"));
            }, parseInt($this.data("timeout"), 10));
          } else {
            $this.addClass("animated " + $this.data("animation"));
          }
        }
      });
      // Hidden...
      $(".revealOnScroll.animated").each(function (index) {
        var $this = $(this),
          offsetTop = $this.offset().top;
        if (scrolled + win_height_padded < offsetTop) {
          $(this).removeClass("animated fadeInUp flipInX lightSpeedIn");
        }
      });
    }

    revealOnScroll();
  });
  for (let i = 0; i < 6; i++) {
    const readMoreBtn = document.getElementsByClassName("expand")[i];
    const text = document.getElementsByClassName("list-offer")[i];
    const texttt = document.getElementsByClassName("moretext")[i];
    const box = document.getElementsByClassName("offer-container")[i];

    readMoreBtn.addEventListener("click", (e) => {
      text.classList.toggle("show-more");
      texttt.classList.toggle("show-more");
      box.classList.toggle("show-more");
      readMoreBtn.classList.toggle("show-more");
      if (readMoreBtn.innerText === "Know More") {
        readMoreBtn.innerText = "Know Less";
      } else {
        readMoreBtn.innerText = "Know More";
      }
    });
  }
</script>

<script type="text/javascript">
  var Tawk_API = Tawk_API || {},
    Tawk_LoadStart = new Date();
  (function () {
    var s1 = document.createElement("script"),
      s0 = document.getElementsByTagName("script")[0];
    s1.async = true;
    s1.src = "https://embed.tawk.to/612011b9d6e7610a49b137e1/1fdikafmk";
    s1.charset = "UTF-8";
    s1.setAttribute("crossorigin", "*");
    s0.parentNode.insertBefore(s1, s0);
  })();
</script>
