<%- include('navbar'); -%>
<style>
  body {
    position: relative;
  }
  .heading {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    margin-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    position: relative;
    color: #45505b;
  }

  .heading::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }

  .heading::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0563bb;
    bottom: 0;
    left: calc(50% - 20px);
  }

  .offer-container {
    position: relative;
    margin: auto;
    width: auto;
    height: auto;
    margin-bottom: 50px;
  }

  .offer-row {
    width: 90%;
    margin: auto;
  }

  .offer-row:hover {
    width: 100%;
    z-index: 50;
    box-shadow: 7px 7px 20px 7px gray;
  }

  .offer-block-heading {
    font-family: "Arial Black", sans-serif;
    font-size: 2em;
    text-align: center;
    letter-spacing: -1px;
    background-color: black;
    color: white;
  }

  .heading-col {
    padding: 0;
    border: 1px solid black;
  }

  .list-offer {
    width: 70%;
    margin: auto;
  }

  .expand {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .expand {
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    display: block;
    margin: auto;
    font-weight: bold;
    color: black;
    background: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black,
      5px -5px 0 black;
    transition: 500ms ease-in-out;
  }

  .expand:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
  }

  .expand:focus {
    outline: none;
  }
</style>
<br />
<h1 style="text-align: center">
  ----------------------------------------CAROUSEL----------------------------------------
</h1>
<br />
<!-- WHAT WE OFFER SECTION  -->
<h2 class="heading">WHAT WE OFFER</h2>
<div style="margin-bottom: 140px">
  <div class="container offer-container">
    <div class="row offer-row">
      <div class="col-sm">
        <img src="images/offer-startup.jpg" style="width: inherit" />
      </div>
      <div class="col-sm heading-col">
        <h1 class="offer-block-heading">STARTUPS</h1>
        <ul class="list-offer">
          <li>Setting up vision and developing executable business plan.</li>
          <li>
            Technical support, software/application and website development.
          </li>
          <li>
            Take the idea from ideation to execution with proper guidance and
            expertise.
          </li>
        </ul>
        <br />
        <button class="expand">Know More</button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container offer-container">
    <div class="row offer-row">
      <div class="col-sm">
        <img src="images/offer-manufacture.jpg" style="width: inherit" />
      </div>
      <div class="col-sm heading-col">
        <h1 class="offer-block-heading">MANUFACTURING</h1>
        <ul class="list-offer">
          <li>
            Customized software for daily operations activity like employee and
            finance management.
          </li>
          <li>
            Making the process flow more efficient and automate the manual
            processes with technology and consultancy expertise with customized
            personal/performance management software.
          </li>
          <li>
            Developing/Marketing the brand by good supply connectivity and
            maintaining a better customer relation.
          </li>
        </ul>
        <br />
        <button class="expand">Know More</button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container offer-container">
    <div class="row offer-row">
      <div class="col-sm">
        <img src="images/offer-restaurant.png" style="width: inherit" />
      </div>
      <div class="col-sm heading-col">
        <h1 class="offer-block-heading">RESTAURANTS</h1>
        <ul class="list-offer">
          <!-- <li>Customized software for customer/table management.</li> -->
          <li>
            Making their operation more efficient by performance/material
            management software and decrease the input cost and hence increasing
            the revenue.
          </li>
          <li>
            Developing/Marketing the restaurant brand by maintaining quality
            service and better customer experience.
          </li>
        </ul>
        <br />
        <button class="expand">Know More</button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container offer-container">
    <div class="row offer-row">
      <div class="col-sm">
        <img src="images/offer-school.png" style="width: inherit" />
      </div>
      <div class="col-sm heading-col">
        <h1 class="offer-block-heading">SCHOOLS</h1>
        <ul class="list-offer">
          <li>
            Customized software for managing all departments teachers, finance
            and students.
          </li>
          <li>
            Whole school will be operated through the software only, from
            reaching to teachers/students/parents to online classes, teaching
            material, attendance and online database.
          </li>
          <li>
            Increase the efficiency by decreasing the manual efforts of
            management and teacher with the software and invest the time
            student's education and improve the result of school.
          </li>
        </ul>
        <br />
        <button class="expand">Know More</button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container offer-container">
    <div class="row offer-row">
      <div class="col-sm">
        <img src="images/offer-finance.png" style="width: 400px" />
      </div>
      <div class="col-sm heading-col">
        <h1 class="offer-block-heading">FINANCE</h1>
        <ul class="list-offer">
          <li>Consultancy for company registration and GST registration.</li>
          <li>
            Services like ITR filing and GST filing for individual or
            businesses.
          </li>
          <li>Prepare taxes and audit for businesses.</li>
        </ul>
        <br />
        <button class="expand">Know More</button>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="container offer-container">
    <div class="row offer-row">
      <div class="col-sm">
        <img src="images/offer-industry.png" style="width: 400px" />
      </div>
      <div class="col-sm heading-col">
        <h1 class="offer-block-heading">SMALL SCALE BUSINESS</h1>
        <ul class="list-offer">
          <li>
            Support businesses like retail shops, whole sale shops, departmental
            stores or clothing etc.
          </li>
          <li>
            Operate all branches single handedly via business website and
            application/software for reaching customers, maintaining the
            directory of employee and having a complete real time overview of
            your business.
          </li>
          <li>
            Connect with global market/customers via online platforms with
            support from our technical and marketing team.
          </li>
          <!-- <li>
            Marketing the brand with help of good supply connectivity and better
            customer to develop your business and increase the revenue.
          </li> -->
        </ul>
        <br />
        <button class="expand">Know More</button>
      </div>
    </div>
  </div>
</div>
<!-- WHAT WE OFFER SECTION ENDS -->
<br />
<br />
<br />
<%- include('footer'); -%>
