<%- include('navbar'); -%>
<style>
  iframe {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }

  .startup-container {
    display: contents;
  }

  .startup-row {
    width: 70%;
    margin: auto;
    margin-top: 30px;
  }
</style>

<!-- youtube link -->
<iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"> </iframe>
<!-- youtube link end -->

<br />
<br />
<br />
<br />

<div class="container startup-container">
  <div class="row startup-row">
    <div class="col-sm heading-col">
      <h1 class="offer-block-heading">STARTUPS</h1>
      <ul class="list-offer">
        <li>Setting up vision and developing executable business plan.</li>
        <li>
          Technical support, software/application and website development.
        </li>
        <li>
          Take the idea from ideation to execution with proper guidance and
          expertise.
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <img src="images/offer-startup.jpg" style="width: inherit" />
    </div>
  </div>
</div>

<div class="container startup-container">
  <div class="row startup-row">
    <div class="col-sm heading-col">
      <h1 class="offer-block-heading">STARTUPS</h1>
      <ul class="list-offer">
        <li>Setting up vision and developing executable business plan.</li>
        <li>
          Technical support, software/application and website development.
        </li>
        <li>
          Take the idea from ideation to execution with proper guidance and
          expertise.
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <img src="images/offer-startup.jpg" style="width: inherit" />
    </div>
  </div>
</div>

<%- include('footer'); -%>
